@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
    color: white;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
}

nav a.router-link-exact-active {
    color: #42b983;
}